body {
    background-image: url("../images/rotj_001.jpg");
    background-repeat: repeat;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: yellow;
}





header, main{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
    text-align: center;
    background-color:rgba(30, 30, 30, .8);
    max-width:820px;
    margin:auto;
    box-sizing: border-box;
}

header {
    background-color:rgba(30, 30, 30, .8);
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
}

main {
    padding: 20px;
}

h1 {
    font-style: italic; 
    font-size: 11px;
}


.character-option, .enemies-option, .attacker-option, .defender-option {
    background-color:rgba(168, 168, 168, .3);
    display: flex;
    flex-direction: column;
    border: solid;
    border-width:2px;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    padding:10px;
    text-align: center;
}

.enemies-option, .defender-option {
    border-color: red;
}

.attacker-option {
    border-color: green;
}

.character-option:hover .character-pic,
.enemies-option:hover .character-pic,
.attacker-option:hover .character-pic,
.defender-option:hover .character-pic {
    transition: .5s ease;
    opacity: 0.3;
    -webkit-filter: hue-rotate(240deg) saturate(3.3);
  }
  
.character-option:hover .character-stats,
.enemies-option:hover .character-stats,
.attacker-option:hover .character-stats,
.defender-option:hover .character-stats {
    transition: .5s ease;
    opacity: 1;
  }

#character-row, #attacker-row, #enemies-row, #defender-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align:center;
    justify-content: center;
}

#character-menu, #attacker-menu, #enemies-menu, #arena {
    color: yellow;
}

.character-stats {
    opacity: 0;
    transform: translate(-0%, -400%);
    -ms-transform: translate(-0%, -400%);
}
  